#просто библиотеки, но уже другие

flask==3.0.3
flask-cors==4.0.1
requests==2.32.3
beautifulsoup4==4.12.3
sentence-transformers==3.0.1
transformers==4.41.2
huggingface-hub==0.23.4
tokenizers==0.19.1
safetensors==0.4.3
scikit-learn==1.5.1
scipy==1.14.0
numpy==1.26.4
pymilvus==2.4.15
psutil==6.0.0
python-dotenv==1.0.1
joblib==1.4.2